<!DOCTYPE html>
<html lang="es">
    <head>
       <%- include('partials/head-base.ejs', {title: "Bienvenidx a MercadoLiebre"}) %> 
    </head>

    <body>
        <header><%- include('partials/header.ejs') %></header>

        <section class="banner">
            <img
                src="/images/img-home-banner.jpg"
                alt="Banner Mercado Liebre"
            />
        </section>

        <h1 class="welcome-message">¡Bienvenido, <%= user ? user.name : "invitado" %>!</h1>

        <main>
            <h2 class="title">Basado en tu última visita</h2>
            <section class="last-visit">

                <% for (let i = 0; i < products.length; i++) {%>
                    <% if (products[i].category == 'visited') { %>
                <%- include("partials/product", {product:products[i]}) %>
                <% } } %>
            </section>
            <h2 class="title">Ofertas</h2>
            <section class="offer">
                
                <% for (let i = 0; i < products.length; i++) {%>
                    <% if (products[i].category == 'in-sale') { %>
                    <%- include("partials/product", {product:products[i]}) %>
                    <% } } %>

            </section>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
