<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head-base.ejs', {title: 'Editando ' +
        product.name}) %>
        <link rel="stylesheet" href="/css/product-detail.css" />
    </head>

    <body>
        <header><%- include('partials/header.ejs') %></header>

        <main>
            <h2 class="title" style="text-align: left; font-size: 22px">
                Estas editando <%= product.name %>
            </h2>
            <form
                action="/products/ <%= product.id %>?_method=PUT"
                method="POST"
            >
                <article class="bg-white-product">
                    <div class="img-description">
                        <img
                            src="/images/products/<%= product.image%>"
                            alt="Apple iPhone 11 Pro"
                        />
                        <label for="description">
                            Descripción del producto
                            <input
                                class="edit-input"
                                type="text"
                                name="description"
                                value="<%= product.description %>"
                            />
                        </label>
                    </div>
                    <div class="buy-info">
                        <label for="name">Nombre del producto</label>
                        <input
                            class="edit-input"
                            type="text"
                            name="name"
                            value="<%= product.name %>"
                        />
                        <label for="discount">Porcentaje de descuento</label>
                        <input
                            class="edit-input"
                            type="text"
                            name="discount"
                            value="<%= product.discount %>"
                        />
                        <label for="price">Precio</label>
                        <input
                            class="edit-input"
                            type="text"
                            name="price"
                            value="<%= product.price %>"
                        />

                        <p class="conditions-product">
                            <i class="fas fa-credit-card green"></i> Pagá en 12
                            cuotas sin interés
                        </p>
                        <p class="conditions-product">
                            <i class="fas fa-store green"></i>

                            Retiro gratis en locales del vendedor
                        </p>

                        <button class="submit" type="submit">Enviar</button>
                    </div>
                </article>
            </form>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
