<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head-base.ejs', {title: 'Listado de productos'})
        %>
    </head>

    <body>
        <header><%- include('partials/header.ejs') %></header>

        <main>
            <h2 class="title">Resultados para <%= keyword%></h2>

            <% for (let i = 0; i < results.length; i++) { %> <%-
            include("partials/product", { product: results[i] }) %> <% } %>
        </main>

        <footer><%- include("partials/footer.ejs") %></footer>
    </body>
</html>
